.body {
  width: 100%;
  height: 100vh;
  background: url(./assets/bg-pc.webp) center
  center / cover no-repeat;
}

.logo {
  display: flex;
  justify-content: center;
}

.man {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}